body{
    background-color: aquamarine;
}
.header{
    display:flex;
    flex-direction: row;
    height: 120px;
    width: 1200px;
    background-color:#0686EB;
}
.hed{
    background-color: beige;

}
